#isso-thread h4 {
    font: 1.6em/1.7em Section;
    margin-top: 1em;
    margin-bottom: .7em;
    margin-left: 0;
}

#isso-thread input,
#isso-thread [contenteditable] {
    text-align: left;
    padding: .3em .6em;
    border: .16em rgba(224, 153, 94, .4) solid;
    outline: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, .8);

    transition: border-color .3s ease;
    -webkit-transition: border-color .3s ease;
}

#isso-thread input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}

    #isso-thread input:focus,
    #isso-thread [contenteditable]:focus {
        border-color: rgba(224, 153, 94, 1);
    }

    #isso-thread input[type="submit"] {
        color: #ffffbe;
        text-align: center;
        border: 0;
        background: #81b531;
    }

#isso-thread [contenteditable] {
    min-height: 5em;
    padding: 1em .6em;
}

#isso-thread .auth-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: flex-end;
    -webkit-justify-content: space-between;

    display: -ms-flex;
    -ms-flex-direction: row;
    -ms-align-items: flex-end;
    -ms-justify-content: space-between;

    margin-top: .5em;
}

#isso-thread .auth-section > * {
    flex: 1;
}

#isso-thread .auth-section > *:not(:first-child) {
    margin-left: 1em;
}

    @media all and (max-width: 800px) {
        #isso-thread .auth-section,
        #isso-thread input {
            flex-direction: column;
            align-items: stretch;

            -webkit-flex-direction: column;
            -webkit-align-items: stretch;

            -ms-flex-direction: column;
            -ms-align-items: stretch;
        }

        #isso-thread .auth-section > *:not(:first-child) {
            margin-left: 0;
        }
    }

#isso-thread .isso-comment {
    position: relative;
    margin-top: 2em;
}

#isso-thread .avatar {
    position: absolute;
}

#isso-thread .text-wrapper {
    margin-left: 70px;
}

#isso-thread .author {
    color: #e0995e;
    font-weight: bold;
    background: transparent;
}

#isso-thread .spacer {
    color: #aaa;
    margin-left: .6em;
    margin-right: .6em;
}

    #isso-thread .isso-comment-footer .spacer {
        margin-left: .1em;
        margin-right: .1em;
    }

#isso-thread .text {
    margin-top: .4em;
    margin-bottom: .5em;
    text-align: left;
}

#isso-thread .permalink,
#isso-thread .note,
#isso-thread .isso-comment-footer {
    font-size: small;
}

#isso-thread .isso-comment-footer {
    margin-top: .5em;
    margin-left: -70px;
}

#isso-thread .isso-comment-footer > * {
    display: inline-block;
    vertical-align: middle;
}

#isso-thread .reply {
    margin-left: 2em;
}

#isso-thread .upvote,
#isso-thread .downvote {
    width: 2em;
    background: none;
}
