/**
 * From DZSlides.
 */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[role="note"] { display: none }

body {
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    display: inline-block;
}

.view body {
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: visible;
    overflow-x: hidden;
    /* undo Dz.onresize */
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
}

.view head, .view head > title {
    display: block;
}

section {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.view section,
.view section[aria-selected],
.view section[aria-selected] ~ section {
    pointer-events: auto;
    position: static;
    width: 800px;
    height: 600px;
    margin: -150px -210px;
    float: left;

    transform: scale(.4);
    -moz-transform: scale(.4);
    -webkit-transform: scale(.4);
    -o-transform: scale(.4);
    -ms-transform: scale(.4);
}

.view section > * {
    pointer-events: none;
}

section[aria-selected] { pointer-events: auto; }

html {
    overflow: hidden;
}

html.view {
    overflow: visible;
}

body.loaded {
    display: block;
}

.incremental {
    visibility: hidden;
}

.incremental[data-active],
.incremental[data-active] .incremental {
    visibility: visible;
}

.incremental > * {
    opacity: 1;
    transition: opacity .3s ease;
}

.incremental[data-active] > .incremental[aria-selected],
.incremental[data-active] > *[aria-selected] ~ *,
.incremental[data-active] > *[aria-selected] .incremental,
.incremental[data-active] > *[data-active] ~ * {
    opacity: .1;
    transition-duration: 0s;
}

    .incremental-overlay > * {
        display: none;
    }

    .incremental-overlay > *[aria-selected],
    .incremental-overlay > *[data-active] {
        display: inline;
    }

    .view .incremental {
        visibility: visible !important;
    }

    .view .incremental-overlay > *:first-child {
        display: inline;
    }


#progress-bar {
    bottom: 0;
    position: absolute;
    -moz-transition: width 400ms linear 0s;
    -webkit-transition: width 400ms linear 0s;
    -ms-transition: width 400ms linear 0s;
    transition: width 400ms linear 0s;
}

.view #progress-bar {
    display: none;
}



/**
 * Our theme.
 */

@font-face {
    font-family: Text;
    src: url("http://static.hoa-project.net/Font/FiraSans-Light.eot")  format("eot"),
         url("http://static.hoa-project.net/Font/FiraSans-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Schema;
    src: url("http://static.hoa-project.net/Font/Museo.eot")     format("eot"),
         url("http://static.hoa-project.net/Font/Museo.woff")    format("woff"),
         url("http://static.hoa-project.net/Font/Museo.ttf")     format("truetype"),
         url("http://static.hoa-project.net/Font/Museo.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url("http://static.hoa-project.net/Font/DroidSansMono.eot")     format("eot"),
         url("http://static.hoa-project.net/Font/DroidSansMono.woff")    format("woff"),
         url("http://static.hoa-project.net/Font/DroidSansMono.ttf")     format("truetype"),
         url("http://static.hoa-project.net/Font/DroidSansMono.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Math;
    src: url("http://static.hoa-project.net/Font/NeoEuler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

head > title {
    color: #fff;
    font: 2em/2.4em Text;
    text-align: center;
    text-shadow: 0 1px 1px #000;
}

body {
    color: #341d44;
    font: 1.6em/1.6em Text;
    text-align: justify;
    background: #fff url("../Image/Background_paper.png");

    perspective: 700px;
    transform-style: preserve-3d;
}

    .view body {
        counter-reset: slideidx;
        background: #eee url('../Image/Background.png');
        background-attachment: fixed;
    }

    .view section {
        border-radius: 15px;
        background: url("../Image/Hoa.svg") 98% 1em / 80px no-repeat,
                    #fff url("../Image/Background_paper.png");
    }

    .banner {
        position: absolute;
        top: 1em;
        height: 80px;
    }

section {
    left: -150%;
    padding: 1em 1.5em;
    background: url("../Image/Hoa.svg") 98% 1em / 80px no-repeat;

    transform: translateZ(-200px) rotateY(-30deg);
    transition-property: left, transform;
    transition: 850ms cubic-bezier(.67, .04, .52, 1);
}

section[aria-selected] {
    left: 0;
    transform: none;
}

section[aria-selected] ~ section {
    left: 150%;
    transform: translateZ(-200px) rotateY(30deg);
}

    .view section {
        box-shadow: 0 0 20px #000;
        transition: none;
    }

    .view section:after {
        counter-increment: slideidx;
        content: counter(slideidx, decimal-leading-zero);
        position: absolute;
        bottom: -80px;
        right: 100px;

        color: #fff;
        text-shadow: 0 1px 1px #8d8e90;
        font-size: 180%;
    }

    /*
    .view section[aria-selected] {
        border: 5px #f9eb72 solid;
        border-radius: 10px;
    }
    */

details {
    display: none;
}

a {
    color: #795290;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    background: #efe6f5;
}

    a:hover,
    a:active,
    a:focus {
        color: #efe6f5;
        text-shadow: 0 1px #341d44;
        outline: none;
        background: #795290;
    }

    a:hover code,
    a:active code,
    a:focus code {
        color: inherit;
    }

h1 {
    font: 2.0em/1.5em Text;
    text-align: left;
    margin-right: 80px;
    margin-bottom: .7em;
}

    section.chapter h1 {
        font-size: 2.5em;
        text-align: center;
        margin-top: 130px;
        margin-right: 0;
    }

    section.chapter h1 > span {
        display: block;
    }

em em {
    font-style: normal;
}

strong {
    color: #de8300;
    font-weight: normal;
}

small {
    font-size: .7em;
}

p { }

    p.break {
        padding-top: 1em;
    }

div.break {
    margin-top: 1em;
}

blockquote {
    pointer-events: none;
    position: relative;
    margin-bottom: 1em;
    padding: .5em 2em;
    border-radius: 3px;
    background: #f2ede3;
}

    blockquote::before {
        content: "“";
        position: absolute;
        color: #e6e3e6;
        font-family: Section;
        top: 60px;
        left: -40px;
        font-size: 8em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }

li {
    position: relative;
    list-style: none;
    margin-left: 1.5em;
    text-align: left;
}

    li::before {
        position: absolute;
        left: -1.3em;
        cursor: default;
        height: 100%;
        width: 1.3em;
        text-align: center;
    }

ul { }

    ul > li::before {
        content: "•";
    }

    ul > li[data-item]::before {
        content: attr(data-item);
    }

        ul > li[data-item="->"]::before {
            content: "➜";
        }

        ul > li[data-item="++"]::before {
            content: "✔";
        }

        ul > li[data-item="--"]::before {
            content: "✖";
        }

    ul.break {
        margin-top: 1em;
    }

ol {
    counter-reset: ol 0;
}

    ol > li {
        counter-increment: ol;
    }

    ol > li::before {
        content: counter(ol);
        height: 1.5em;
        left: -1.6em;
    }

    ol.break {
        margin-top: 1em;
    }

button {
    font-size: 1em;
    color: #ab3e00;
    border: none;
    background: none;
}

code, kbd, pre {
    font-family: Pre;
    font-size: .85em;
    color: #07a;
}

    code em {
        color: #6695c8;
    }

kbd {
    display: inline-block;
    color: #666;
    font-size: .8em;
    text-align: center;
    padding: .2em .5em 0 .5em;
    line-height: 1.4em;
    min-width: 1.2em;
    border: 1px #aaa solid;
    border-radius: 5px;
    box-shadow: 0 1px rgba(0, 0, 0, .2);
}

pre {
    position: relative;
    clear: both;
    font-size: .95rem;
    line-height: 1.25em;
    margin-left: -2.5em;
    margin-right: -2.5em;
    padding: .8em 50px;
    max-height: 380px;
    overflow-y: auto;
    background: #f2ede3 url("../Image/Background_pre.png");
}

    pre + pre {
        margin-top: .4em;
    }

    pre > code {
        color: inherit;
        font-size: .98rem;
    }

    code[class*="language-"] {
        color: #000;
    }

    .language-php {
        color: #07a !important;
    }

    .language-pp {
        color: #549848 !important;
    }

    .token.comment,
    .token.icomment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #939393;
    }

    .token.selector,
    .token.attr-name,
    .token.string {
        color: #549848;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #07a;
    }

    .token.property,
    .token.tag,
    .token.number,
    .token.constant {
        color: #994f78;
    }

    .token.php,
    .token.operator {
        color: #926fa7;
    }

    .token.url,
    .token.special_variable,
    .token.variable {
        color: #c68f26;
    }

    .token.punctuation {
        color: #999;
    }

    .token.input {
        text-decoration: blink;
    }

    .line-highlight,
    .line-marker {
        position: absolute;
        background: rgba(255, 0, 0, .5);
        position: absolute;
        left: 0;
        right: 0;
        margin-top: .65em;
        padding: .15em 0;
        pointer-events: none;
        box-shadow: inset 0 -1px rgba(255, 255, 255, .8),
                    inset 0  1px rgba(0,   0,   0,   .1);
        background: hsla(24, 20%, 50%, .15);
    }

    .line-highlight::before,
    .line-highlight[data-end]::after,
    .line-marker::before {
        content: attr(data-start);
        position: absolute;
        left: .5em;
        font-size: .8em;
        text-align: center;
        width: 2.7em;
        color: #fff;
        border-radius: 12px;
        box-shadow: inset 0 -1px rgba(255, 255, 255, .8),
                    inset 0  1px rgba(0,   0,   0,   .1);
        background: hsla(24, 20%, 50%, .4);
    }

    .line-highlight[data-end]::after {
        content: attr(data-end);
        bottom: .3em;
    }

    .line-marker[data-marker]::after {
        content: attr(data-marker);
        position: absolute;
        left: 3em;
    }

    code span.highlight {
        position: relative;
    }

    code span.highlight::after {
        content: "";
        position: absolute;
        top: -.45em;
        bottom: -.45em;
        left: 0;
        width: 100%;
        box-shadow: inset 0 -1px rgba(255, 255, 255, .8),
                    inset 0  1px rgba(0,   0,   0,   .1);
        background: hsla(24, 20%, 50%, .15);
    }

math {
    font-family: Text;
}

mtd {
    text-align: left;
    padding-left: .5em;
}

mo {
    margin: 0 1em;
    padding: 0 1em;
}

    math.tex mi,
    math.tex mo,
    math.tex mtext,
    math.tex mn {
        font-family: Math;
    }

    math.tex mtext {
        letter-spacing: -.1em;
    }

    math.tex mo {
        margin: 0;
        padding: 0;
    }

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    border-radius: inherit;
}

    div.avatar {
        position: relative;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px #000;
        border-radius: 50%;
        border: 2px #fff solid;
    }

    div.avatar > img {
        border-radius: 40px; /* 50% does not work with Presto */
    }

    div.avatar::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 12px #000;
    }

div.overlay {
    position: relative;
}

    div.overlay > div {
        position: absolute;
        top: 0;
        left: 0;
    }

    div.overlay > div:first-child {
        pointer-events: none;
        opacity: .2;
    }

.schema {
    margin: 0 auto;
}

.👍 {
    color: green;
}

.👎 {
    color: red;
}

svg {
    display: block;
    font-size: .7em;
    font-family: Schema;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.bibliography {
    float: right;
}

    .bibliography > a {
        background: none;
    }

.flip-container {
    perspective: 1000px;
}

    .flip-container, .flipper, .front, .back {
        width: 100%;
        height: 100%;
    }

    .flip-container.toggle .flipper {
        transform: rotateY(180deg);
    }

    .flipper {
        position: relative;
        transform-style: preserve-3d;

        transition: transform 850ms cubic-bezier(.67, .04, .52, 1) 0s;
    }

        .front, .back {
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }

        .front {
            z-index: 2;
        }

        .back {
            transform: rotateY(180deg);
        }

#progress-bar {
    height: 2px;
    background: #feac26;

    transition: width 850ms cubic-bezier(.67, .04, .52, 1) 0s;
}

.absolute {
    position: absolute;
}

.tcenter { text-align: center }
.tright  { text-align: right  }
.fleft   { float: left        }
.fright  { float: right       }
.clear   { clear: both        }
