@import 'UI.css';
@import 'Code.css';

/**
 * From DZSlides.
 */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[role="note"] { display: none }

body {
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    display: inline-block;
}

    body::before {
        display: none;
        background: none;
    }

.view body {
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: visible;
    overflow-x: hidden;
    /* undo Dz.onresize */
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
}

.view head, .view head > title {
    display: block;
}

section {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.view section,
.view section[aria-selected],
.view section[aria-selected] ~ section {
    pointer-events: auto;
    position: static;
    width: 800px;
    height: 600px;
    margin: -150px -210px;
    float: left;

    transform: scale(.4);
    -moz-transform: scale(.4);
    -webkit-transform: scale(.4);
    -o-transform: scale(.4);
    -ms-transform: scale(.4);
}

.view section > * {
    pointer-events: none;
}

section[aria-selected] { pointer-events: auto; }

html {
    overflow: hidden;
}

html.view {
    overflow: visible;
}

body.loaded {
    display: block;
}

.incremental {
    visibility: hidden;
}

.incremental[data-active],
.incremental[data-active] .incremental {
    visibility: visible;
}

.incremental > * {
    opacity: 1;
    transition: opacity .3s ease;
}

.incremental[data-active] > .incremental[aria-selected],
.incremental[data-active] > *[aria-selected] ~ *,
.incremental[data-active] > *[aria-selected] .incremental,
.incremental[data-active] > *[data-active] ~ * {
    opacity: .1;
    transition-duration: 0s;
}

    .incremental-overlay > * {
        display: none;
    }

    .incremental-overlay > *[aria-selected],
    .incremental-overlay > *[data-active] {
        display: block;
    }

    .view .incremental {
        visibility: visible !important;
    }

    .view .incremental-overlay > *::first-child {
        display: inline;
    }


#progress-bar {
    bottom: 0;
    position: absolute;
    -moz-transition: width 400ms linear 0s;
    -webkit-transition: width 400ms linear 0s;
    -ms-transition: width 400ms linear 0s;
    transition: width 400ms linear 0s;
}

.view #progress-bar {
    display: none;
}



/**
 * Our theme.
 */

@font-face {
    font-family: Text;
    src: url("http://static.hoa-project.net/Font/FiraSans-Light.eot")  format("eot"),
         url("http://static.hoa-project.net/Font/FiraSans-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Schema;
    src: url("http://static.hoa-project.net/Font/Museo.eot")     format("eot"),
         url("http://static.hoa-project.net/Font/Museo.woff")    format("woff"),
         url("http://static.hoa-project.net/Font/Museo.ttf")     format("truetype"),
         url("http://static.hoa-project.net/Font/Museo.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url("http://static.hoa-project.net/Font/DroidSansMono.eot")     format("eot"),
         url("http://static.hoa-project.net/Font/DroidSansMono.woff")    format("woff"),
         url("http://static.hoa-project.net/Font/DroidSansMono.ttf")     format("truetype"),
         url("http://static.hoa-project.net/Font/DroidSansMono.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Math;
    src: url("http://static.hoa-project.net/Font/NeoEuler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

head > title {
    color: #fff;
    font: 2em/2.4em Text;
    text-align: center;
    text-shadow: 0 1px 1px #000;
}

body {
    color: #341d44;
    font: 1.6em/1.2em Text;
    text-align: justify;
    background: #fff url("../Image/Background_paper.png");

    perspective: 700px;
    transform-style: preserve-3d;
}

    .view body {
        counter-reset: slideidx;
        background: #eee url('../Image/Background.png');
        background-attachment: fixed;
    }

    .view section {
        border-radius: 15px;
        background: url("../Image/Hoa.svg") 98% 1em / 80px no-repeat,
                    #fff url("../Image/Background_paper.png");
    }

    .banner {
        position: absolute;
        top: 1em;
        height: 80px;
    }

section {
    left: -150%;
    padding: 1em 1.5em;
    background: url("../Image/Hoa.svg") 98% 1em / 80px no-repeat;

    transform: translateZ(-200px) rotateY(-30deg);
    transition-property: left, transform;
    transition: 850ms cubic-bezier(.67, .04, .52, 1);
}

section[aria-selected] {
    left: 0;
    transform: none;
}

section[aria-selected] ~ section {
    left: 150%;
    transform: translateZ(-200px) rotateY(30deg);
}

    .view section {
        box-shadow: 0 0 20px #000;
        transition: none;
    }

    .view section:after {
        counter-increment: slideidx;
        content: counter(slideidx, decimal-leading-zero);
        position: absolute;
        bottom: -80px;
        right: 100px;

        color: #fff;
        text-shadow: 0 1px 1px #8d8e90;
        font-size: 180%;
    }

    /*
    .view section[aria-selected] {
        border: 5px #f9eb72 solid;
        border-radius: 10px;
    }
    */

details {
    display: none;
}

h1 {
    color: #341d44;
    font: 2em/1em Text;
    text-align: left;
    margin-right: 80px;
    margin-bottom: .7em;
}

    section.chapter h1 {
        font-size: 2.5em;
        text-align: center;
        margin-top: 130px;
        margin-right: 0;
    }

    section.chapter h1 > span {
        display: block;
    }

strong {
    font-weight: normal;
}

small {
    font-size: .7em;
}

p { }

    p.break {
        padding-top: 1em;
    }

img.center {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

div.break {
    margin-top: 1em;
}

li {
    position: relative;
    list-style: none;
    margin-left: 1.5em;
    text-align: left;
}

    li::before {
        position: absolute;
        left: -1.3em;
        cursor: default;
        height: 100%;
        width: 1.3em;
        text-align: center;
    }

ul { }

    ul.break {
        margin-top: 1em;
    }

ol { }

    ol.break {
        margin-top: 1em;
    }

button {
    font-size: 1em;
    color: #ab3e00;
    border: none;
    background: none;
}

math {
    font-family: Text;
}

mtd {
    text-align: left;
    padding-left: .5em;
}

mo {
    margin: 0 1em;
    padding: 0 1em;
}

    math.tex mi,
    math.tex mo,
    math.tex mtext,
    math.tex mn {
        font-family: Math;
    }

    math.tex mtext {
        letter-spacing: -.1em;
    }

    math.tex mo {
        margin: 0;
        padding: 0;
    }

div.overlay {
    position: relative;
}

    div.overlay > div {
        position: absolute;
        top: 0;
        left: 0;
    }

    div.overlay > div:first-child {
        pointer-events: none;
        opacity: .2;
    }

.schema {
    margin: 0 auto;
}

.👍 {
    color: green;
}

.👎 {
    color: red;
}

svg {
    display: block;
    font-size: .7em;
    font-family: Schema;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
}

    svg * {
        transition: opacity .3s ease;
    }

    svg .downlight {
        opacity: .3;
    }

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.bibliography {
    float: right;
}

    .bibliography > a {
        background: none;
    }

.flip-container {
    perspective: 1000px;
}

    .flip-container, .flipper, .front, .back {
        width: 100%;
        height: 100%;
    }

    .flip-container.toggle .flipper {
        transform: rotateY(180deg);
    }

    .flipper {
        position: relative;
        transform-style: preserve-3d;

        transition: transform 850ms cubic-bezier(.67, .04, .52, 1) 0s;
    }

        .front, .back {
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
        }

        .front {
            z-index: 2;
        }

        .back {
            transform: rotateY(180deg);
        }

#progress-bar {
    height: 2px;
    background: #feac26;

    transition: width 850ms cubic-bezier(.67, .04, .52, 1) 0s;
}

.absolute {
    position: absolute;
}

.tcenter { text-align: center }
.tright  { text-align: right  }
.fleft   { float: left        }
.fright  { float: right       }
.clear   { clear: both        }
