* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

    @media print {
        html {
            font-size: 10pt;
        }
    }

    html.menu #body,
    html.search #body {
        overflow: hidden;
        pointer-events: none;
    }

        html.menu #menu {
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }

        html.menu #body,
        html.menu [aria-controls="menu"] {
            transform: translateX(11em) translateY(3.5em);
            -webkit-transform: translateX(11em) translateY(3.5em);
        }

        html.menu form[role="search"],
        html.search form[role="search"] {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }

        html.search #menu {
            transform: translateX(-25em);
            -webkit-transform: translateX(-25em);
        }

        html.search #body {
            transform: translateY(50%) translateZ(-500px) rotateX(30deg);
            -webkit-transform: translateY(50%) translateZ(-500px) rotateX(30deg);
        }

        html.search [aria-controls="menu"] {
            transform: translateX(-10em);
            -webkit-transform: translateX(-10em);
        }

body {
    position: relative;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

#menu, #body, [aria-controls="menu"], form[role="search"] {
    transition: transform .25s ease-out,
                opacity   .25s ease-out;
    -webkit-transition: -webkit-transform .25s ease-out;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 3em;

    transform: translateX(-5em);
    -webkit-transform: translateX(-5em);
}

    #menu > ul {
        display: table;
        height: 100%;
    }

    #menu > ul > li {
        display: table-row;
    }

#body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

form[role="search"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3em;

    transform: translateY(-1.5em);
    -webkit-transform: translateY(-1.5em);
}

[aria-controls="menu"] {
    position: absolute;
    top: 0;
    left: 0;
}
