* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

    @media print {
        html {
            font-size: 10pt;
        }
    }

    html.menu #body,
    html.search #body {
        overflow: hidden;
        pointer-events: none;
    }

        html.menu #menu > ul > li > a {
            opacity: 1;
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }

            html.menu #menu > ul > li > a.source     { transition-delay:   0s }
            html.menu #menu > ul > li > a.literature { transition-delay: .01s }
            html.menu #menu > ul > li > a.video      { transition-delay: .02s }
            html.menu #menu > ul > li > a.blog       { transition-delay: .03s }
            html.menu #menu > ul > li > a.event      { transition-delay: .05s }
            html.menu #menu > ul > li > a.community  { transition-delay: .08s }
            html.menu #menu > ul > li > a.shop       { transition-delay: .13s }
            html.menu #menu > ul > li > a.about      { transition-delay: .21s }

        html.menu #body,
        html.menu [aria-controls="menu"] {
            transform: translateX(11em) translateY(3.5em);
            -webkit-transform: translateX(11em) translateY(3.5em);
        }

        html.menu form[role="search"],
        html.search form[role="search"],
        html.search #search_close {
            opacity: 1;
            transform: translateX(0) translateY(0);
            -webkit-transform: translateX(0) translateY(0);
        }

        html.search #menu > ul > li > a {
            transform: translateX(-25em);
            transition-delay: 0;
            -webkit-transform: translateX(-25em);
        }

        html.search #body {
            transform: translateY(50%) translateZ(-500px) rotateX(30deg);
            -webkit-transform: translateY(50%) translateZ(-500px) rotateX(30deg);
        }

        html.search [aria-controls="menu"] {
            transform: translateX(-10em);
            -webkit-transform: translateX(-10em);
        }

body {
    position: relative;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

#menu > ul > li > a,
#body,
[aria-controls="menu"],
form[role="search"],
#search_close {
    transition:
        transform .35s cubic-bezier(.54, .09, .11, 1.33),
        -webkit-transform .35s cubic-bezier(.54, .09, .11, 1.33),
        opacity .25s ease-out;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 3em;
}

    #menu > ul {
        display: table;
        height: 100%;
        max-height: 35em;
    }

    #menu > ul > li {
        display: table-row;
    }

    #menu > ul > li > a {
        opacity: 0;
        transform: translateX(-5em);
        transition-delay: 0;
        -webkit-transform: translateX(-5em);
    }

#body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

form[role="search"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3em;
    opacity: 0;

    transform: translateY(-1.5em);
    -webkit-transform: translateY(-1.5em);
}

#search_close {
    position: absolute;
    top: .85em;
    left: 1em;
    opacity: 0;

    transform: translateX(-2.5em);
    -webkit-transform: translateX(-2.5em);
}

[aria-controls="menu"] {
    position: absolute;
    top: 0;
    left: 0;
}
