.map {
    margin: 1em -8rem;
    height: 500px;
    height: 75vh;
    clear: both;
}

    @media all and (max-width: 800px) {
        .map {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }

.leaflet-container {
    font: inherit;
    color: inherit;
    background: transparent;
    outline: 0;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.leaflet-control-attribution {
    background: transparent !important;
}

.leaflet-control-attribution a:hover,
.leaflet-control-attribution a:active,
.leaflet-control-attribution a:focus,
.leaflet-popup-content-wrapper a:hover,
.leaflet-popup-content-wrapper a:active,
.leaflet-popup-content-wrapper a:focus {
    color: #efe6f5;
    background: #795290;
}

.leaflet-control-zoom {
    margin-right: 1em !important;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.leaflet-control-zoom a {
    color: #777;
    line-height: 1em !important;
    width: auto !important;
    height: auto !important;
    background: #fff;
}
