[submodule "External/Prism"]
	path = External/Prism
	url = https://github.com/LeaVerou/prism.git
[submodule "External/Leaflet"]
	path = External/Leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "External/Popcorn.js"]
	path = External/Popcorn.js
	url = https://github.com/mozilla/popcorn-js
[submodule "External/D3"]
	path = External/D3
	url = https://github.com/mbostock/d3
